* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  background-color: #242424;
  font-family: "Poppins", sans-serif;
}
/*nav maenu on the left as a unordered list*/

/*nav maenu on the right as a unordered list*/
.nav {
  flex: 1;
  text-align: right;
}

.nav-item {
  background-color: #1a1818c0;
}

.parallax {
  /* The image used */
  background-image: url("https://live.staticflickr.com/65535/48995158922_486df86242_4k.jpg");
  filter: blur(9px);
  /* Set a specific height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/*nav maenu on the right as a list but without bullet*/
nav ul {
  padding-left: 400px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
/*nav maenu on the right as a vertically list with 50px gapping with each with underline*/
nav ul li {
  display: inline-block;
  margin-right: 50px;
}
/*nav maenu on the right as a vertically list with 50px gapping with each without underline*/
a {
  text-decoration: none;
  color: white;
}
p {
  color: white;
}

li {
    padding: 0 20px;
}

.container {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;

  justify-content: space-around;
}

/*



LEFT COULMN





*/

.colPara{
  font-weight: 400;
  margin-bottom: 8px;
}

.columnleft{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
}
.columnRight{
  padding-left:19px;
}

.asocia{
  width: 400px;
}

.colTitle{
  font-size: 38px;
  padding-bottom:4px ;

}

.colCoTitle{
  padding-bottom:20px ;
}

.bg-image {
  /* The image used */

  /* Add the blur effect */
  filter: blur(10px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 96%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar{
    display: flex;
    
}
  .strains{
    justify-content: flex-end;
}

/* Position text in the middle of the page/image */
.bg-textNav {
  
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    border: 1px solid #f1f1f18f;
    border-radius: 6px;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -5%);
    z-index: 2;
    width: 100%;
    max-width: 880px;
    margin: 0px 0;
    padding: 20px;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
}
.weed-strains{
  max-height: 200px;
  max-width: 100px;
}
.bg-text {
  display: flex;
  flex-flow: wrap;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  border: 1px solid #f1f1f18f;
  border-radius: 6px;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 2;
  width: 100%;
  max-width: 862px;
  margin: 40px 0;
  padding: 20px;
  text-align: center;
  height: 80%;
  top: 36%;
  max-height: 543px;
  align-content: center;
  align-items: center;
}
.btn {
  margin-left: 28px;
  width: 38%;
  background: #17703c;
  color: #fff;
  padding: 4px 30px;
  margin-top: 60px;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  filter: hue-rotate(360px);
  background: #2d0d69;
}

.text {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  background-color: #1a1818c0;
  border-radius: 20px;
}

.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4 {
  
 
  
  
  transition: transform 0.5s;
}
.col-4 img {

  display: flex;
  width: 190px;
  border: solid 1px #999;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: rgb(255, 255, 255);
}
.title::after {
  content: "";
  background: #6f1681;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: white;
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.rating .fa {
  color: #ff523b;
}
.col-4:hover {
  transform: translateY(-5px);
}

/*-----------------------offer -----------------------*/
.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
}
small {
  color: #555;
}

/*-----------------------Testimonial -----------------------*/
.testimonial {
  padding-top: 100px;
}

.varias {
  font-weight: 500;
  text-align: center;
  color: white;
  margin-bottom: 80px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%; /*square images converted to round shape box*/
}
.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}
.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/*-----------------------Footer -----------------------*/
.footer {
  background: #000; /*black;*/
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer-col-3 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-3 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
}

/*-----------------------media query for menu -----------------------*/
@media (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
}

/*-----------------------media query for less than 600 screen size(mobile device) -----------------------*/
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2 .col-3 .col-4 {
    flex-basis: 100%;
  }
  .single-product .row {
    text-align: left;
  }
  .single-product .col-2 {
    padding: 20px 0;
  }
  .single-product h1 {
    font-size: 20px;
    line-height: 32px;
  }
  .cart-info p {
    display: none;
  }
}

/*--------------------all products-----------------------------------------------*/
.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}
select {
  border: 1px solid #0d4b33;
  padding: 5px;
}
select:focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
}
.page-btn span {
  display: inline-block;
  border: 1px solid #00aba8;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover {
  background: #062d28;
  color: #fff;
}

/*-----------------------single product details -----------------------*/

.single-product {
  margin-top: 80px;
}
.single-product .col-2 img {
  padding: 0;
}
.single-product .col-2 {
  padding: 20px;
}
.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: apx solid #ff523b;
}
input:focus {
  outline: none;
}
.single-product .fa {
  color: #ff523b;
  margin-left: 10px;
}
.small-img-row {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
@media (min-width:1919px)
{
.bg-text {
  display: flex;
  flex-flow: wrap;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  border: 1px solid #f1f1f18f;
  border-radius: 6px;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 2;
  width: 100%;
  max-width: 862px;
  margin: 80px 0;
  padding: 20px;
  text-align: center;
  height: 80%;
  top: 30%;
  max-height: 543px;
}
}